<!DOCTYPE html>
<html>
    <head>
        <title>Admission | Connection</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="Script/Login/app.js"></script> 
    </head>
    <body ng-app="Login">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Admission</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/Admission">Billeterie</a></li>
                        <li><a href="Magasin"> <span class="glyphicon glyphicon-shopping-cart"></span> Panier</a></li>

                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Recherche" ng-model="MainSearch.$">
                        </div>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-6 col-xs-offset-3">
                                <h1>Créer un compte</h1>
                                <hr/>
                                <form name="myForm" ng-controller="LoginController" novalidate>

                                    <div class="form-group" ng-class="{'has-error has-feedback': myForm.email.$error.email || !(email.text == cemail.text) }" >
                                        <label class="control-label" for="courriel">Courriel</label>
                                        <input type="Email" name="email" ng-model="email.text" id="courriel" class="form-control input-lg" placeholder="Courriel" aria-describedby="courriel2Status" required/>
                                        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="myForm.input.$error.email" aria-hidden="true"></span>
                                        <span id="courriel2Status" class="sr-only">Courriel Invalide!</span>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error has-feedback': myForm.cemail.$error.cemail || !(email.text == cemail.text)}" >
                                        <label class="control-label" for="courriel">Confirmation Courriel</label>
                                        <input type="Email" name="cemail" ng-model="cemail.text" id="courriel" class="form-control input-lg" placeholder="Courriel" aria-describedby="courriel2Status" required/>
                                        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="myForm.input.$error.email" aria-hidden="true"></span>
                                        <span id="ccourriel2Status" class="sr-only">Courriel Invalide!</span>
                                    </div>


                                    <div class="form-group" ng-class="{'has-error has-feedback': myForm.Pass.$error.password || !(pass.text == cpass.text) }">
                                        <label class="control-label" for="pass">Mot de passe</label>
                                        <input type="password" name="Pass" id="pass" ng-model="pass.text"  class="form-control input-lg" placeholder="Mot de passe"  required/>
                                        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="myForm.Pass.$error.password" aria-hidden="true"></span>
                                        <span id="pass2Status" class="sr-only">Courriel Invalide!</span>


                                    </div>
                                        <div class="form-group" ng-class="{'has-error has-feedback': myForm.cPass.$error.password || !(pass.text == cpass.text) }">
                                        <label class="control-label" for="pass">Confirmation Mot de passe</label>
                                        <input type="password" name="cPass" id="pass" ng-model="cpass.text"  class="form-control input-lg" placeholder="Mot de passe"  required/>
                                        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="myForm.Pass.$error.password" aria-hidden="true"></span>
                                        <span id="cpass2Status" class="sr-only">Courriel Invalide!</span>


                                    </div>
                                        
                                         <div class="form-group">
                                        <label class="control-label" for="pass">Nom</label>
                                        <input type="text" name="Nom" id="nom" ng-model="Nom.text"  class="form-control input-lg" placeholder="Mot de passe"  required/>
                                         </div>
                                        <div class="form-group">
                                        <label class="control-label" for="pass">Prénom</label>
                                        <input type="text" name="Prenom" id="prenom" ng-model="Prenom.text"  class="form-control input-lg" placeholder="Mot de passe"  required/>
                                         </div>
                                        <div class="form-group">
                                        <label class="control-label" for="pass">Adresse</label>
                                        <input type="text" name="Adresse" id="adresse" ng-model="Adresse.text"  class="form-control input-lg" placeholder="Mot de passe"  required/>
                                         </div>
                                        <div class="form-group">
                                        <label class="control-label" for="pass">Téléphone</label>
                                        <input type="text" name="Tel" id="tel" ng-model="Tel.text"  class="form-control input-lg" placeholder="Mot de passe"  required/>
                                         </div>

                                    <button  type="submit" class="btn btn-primary center-block input-lg" ng-disabled="!myForm.$valid || !(pass.text == cpass.text) || !(email.text == cemail.text) " >Connection</button>
                                </form>

                            </div>
                        </div>
                    </div>   

                </div>
            </div>
        </div>
    </body>
</html>
